div{
    color: aliceblue;
    font-size: 13px;
    white-space: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url(latarsisfor.png);
    background-repeat: no-repeat;
    background-size: 1900px auto;
    }